$primary-color: #2c86ce;
@import "./on-board.scss";
@import "./dashboard-layout.scss";
@import "./admin-dashboard.scss";
@import "./common.scss";
@import "./leaves.scss";
@import "./attendance.scss";
@import "./leavesgraphs.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./modal.scss";
body {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
p,
li,
a {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
@font-face {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  src: url("../Assests/fonts/proxima/Fontspring-DEMO-proximanova-thin.otf");
}
@font-face {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  src: url("../Assests/fonts/proxima/Fontspring-DEMO-proximanova-regular.otf");
}
@font-face {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  src: url("../Assests/fonts/proxima/Fontspring-DEMO-proximanovacond-mediumit.otf");
}
@font-face {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  src: url("../Assests/fonts/proxima/Fontspring-DEMO-proximanova-semibold.otf");
}
